.button {
  min-width: 130px;
  padding: 7px;
  color: white;
  outline: none;
  border-radius: 4px;
  font-size: 16px;
  background: rgba(0, 0, 0, 0.5);
}

.outline {
  border: 2px solid white;
}

.blue {
  border: 2px solid #0aaee4;
  background-color: #0aaee4;
}
