.appWrapper {
  display: flex;
  flex-direction: column;
}

.appMain {
  display: flex;
  justify-content: center;
  background-color: #F5F5F5;
}

.appMainContent {
  box-sizing: border-box;
  width: 100%;
  max-width: 1200px;
  padding: 40px;
}

@media screen and (max-width: 768px) {
  .appMainContent {
    padding: 10px 5px;
  }
}
