@import "src/styles/constants";

.navBarGenres {
  display: flex;
  position: relative;
  width: 200px;
  justify-content: space-between;
  z-index: 1;
  cursor: pointer;

  &:hover {
    background-color: white;
  }
}

.containerGenresItem {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  font-size: 16px;
  color: $blue-main;
}

.arrowContainer {
  display: flex;
  align-items: center;
  padding-right: 10px;
}

.arrow {
  width: 15px;
  height: 15px;
  fill: $blue-main;
  transition: all 0.45s ease-out;
}

.arrow.rotateArrow {
  transform: rotate(180deg);
  transition: all 0.45s ease-out;
}

.containerSortItem {
  display: flex;
  padding: 8px 10px;
  font-size: 16px;
  text-decoration: none;
  color: $blue-main;

  div {
    width: 100%;
  }

  &:hover {
    background-color: #f1f1f1;
  }
}

.containerGenresList {
  position: absolute;
  top: 34px;
  height: 170px;
  width: 100%;
  overflow: scroll;
  transition: all 0.45s ease;
  background-color: inherit;

  &::-webkit-scrollbar {
    display: none;
  }
}
