@import "src/styles/constants";

.loaderContainer {

}

.circleContainer {
  display: flex;
  justify-content: space-between;
  width: 70px;
  height: 100px;
  background-color: red;
}

.circle1, .circle2, .circle3 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: $blue-main;
  animation: circle 1s linear infinite;
}

.circle1 {
  animation-delay: 0.05s;
}

.circle2 {
  animation-delay: 0.3s;
}

.circle3 {
  animation-delay: 0.5s;
}

@keyframes circle {
  0% {
    transform: scale(3);
  }
  15% {
    transform: scale(2);
  }
  55% {
    transform: scale(1);
  }
  85% {
    transform: scale(2);
  }
  100% {
    transform: scale(3);
  }
}