.sliderTitle {
  margin-bottom: 10px;
  font-size: 45px;
}

.description {
  display: inline-block;
  left: 60px;
  bottom: 150px;
  position: absolute;
  font-weight: bold;

  color: white;
}

.time {
  display: inline-block;
  font-size: 14px;
  font-weight: normal;

}
