.sliderTitle {
  font-size: 45px;
}

.description {
  display: inline-block;
  left: 60px;
  bottom: 150px;
  position: absolute;
  font-weight: bold;

  color: white;
}

.genreItem {
  margin-right: 20px;
}

.genre {
  font-size: 14px;
  font-weight: normal;
}

.time {
  display: inline-block;
}
