.videoContainer {
  width: 560px;
  height: 315px;

  iframe {
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 768px) {
  .videoContainer {
    width: 350px;
    height: 200px;
  }
}
