.slide {
  background-color: grey;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-size: cover;
  color: white;
  box-shadow: inset 150px 150px 150px rgba(0, 0, 0, 0.5), inset -150px -150px 150px rgba(0, 0, 0, 0.5);
}

.slideBottom {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.slideInfo {
  padding-left: 70px;
  width: 100%;
  max-width: 500px;
}

.textTitle {
  font-size: 45px;
  font-weight: bold;
  color: white;
}

.wrapperRuntimeFilm {
  display: inline-block;
}

.runtimeFilm {
  font-size: 14px;
  font-weight: normal;
}

.slideButtons {
  position: relative;
  display: flex;
  width: 300px;
  padding-right: 100px;
  justify-content: space-between;
  align-items: flex-end;
}

.filmOverview {
  position: absolute;
  bottom: 50px;
  left: 0;
  overflow: auto;
  box-sizing: border-box;
  width: 300px;
  max-height: 180px;
  padding: 13px;
  transition: opacity 0.45s ease;
  opacity: 0;
  line-height: 2;
  background: rgba(0, 0, 0, 0.75);

  .textOverview {
    font-size: 16px;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

.filmOverview.show {
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .slideBottom {
    max-width: 90%;
    flex-direction: column;
    padding-left: 10px;
  }

  .slideInfo {
    padding-left: 0;
  }

  .textTitle {
    font-size: 30px;
  }

  .slideButtons {
    width: 100%;
    padding-right: 0;
    padding-top: 15px;
    justify-content: space-around;
  }
}
