@import "src/styles/constants";

.filmContainer {
  width: 250px;
  height: 300px;
  position: relative;
  background-color: grey;
  overflow: hidden;
}

.imageFilm {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.selectAction {
  width: 100%;
  height: 220px;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: all 0.45s ease;
  color: white;
  opacity: 0;

  &:hover {
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 1;
  }
}

.playIcon {
  width: 70px;
  height: 70px;
  fill: $blue-main;
}

.playNowText {
  font-size: 16px;
  padding: 20px 0;
}

.linkPlay {
  color: white;
  text-decoration: none;
}

.filmInfo {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 220px;
  z-index: 1;
  background-color: white;
  transition: all 0.45s ease;
}

.cross {
  display: none;
  width: 16px;
  height: 16px;
  fill: white;
}

.filmInfo.show {
  top: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: all 0.45s ease;

  .filmHeader {
    margin-top: 20px;
  }

  .cross {
    display: block;
  }

  .textTitle {
    color: white;
  }
}

.crossContainer {
  position: absolute;
  top: 10px;
  left: 20px;
  z-index: 2;
}


.filmHeader {
  position: relative;
  width: 170px;
  padding: 20px 0 7.5px 20px;
}

.textTitle {
  font-size: 15px;
  font-weight: 700;
  padding-bottom: 3px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.genre {
  text-decoration: none;
  font-size: 11px;
  transition: color 0.45s ease;
  color: $blue-main;

  &:hover {
    color: #26c9ff;
  }
}

.genreItem {
  &:not(:last-child):after {
    content: ', ';
    font-size: 12px;
    color: $blue-main;
    margin-right: 2px;
  }
}

.voteCount {
  position: absolute;
  top: 17px;
  right: -45px;
  color: $blue-main;
}

.description {
  display: block;
  margin: 20px 0 25px;
  height: 110px;
  padding: 0 20px;
  overflow: auto;
  font-size: 14px;
  box-sizing: border-box;
  color: $absolute-white
}

.watchNow {
  margin-left: 20px;
}